/*გლობალური ჯგუფი*/

.Montserrat-Medium {

	font-family: "Montserrat-Medium";
}

.NunitoSans-Bold {

	font-family: "NunitoSans-Bold";

}
.NunitoSans-Regular {

	font-family: "NunitoSans-Regular";
}


.display-inline-block {

	display: inline-block;
}




/*გლობალური ჯგუფის დასასრული*/

/*#logo-imige {

	margin: 0px;
}*/

#logo-imige:hover {

	cursor: pointer;
}

header {

	margin: 30px;
}

a {

	text-decoration: none;
	color: inherit;
}

a:hover {

	color: #40E0D0;
}

li {
	list-style: none;
}

nav {

	width: calc(100% - 50px);
	text-align: right;
	
}

nav li {
	margin-right: 50px;
}

nav li:last-of-type {
	margin-right: 0px;
}